<h2 (click)="toggleList()">Friends</h2>
<table *ngIf="visible">
  <tr>
    <th (click)="setOrder('name')">Friend</th>
    <th (click)="setOrder('status')" >Status</th>
    <th></th>
  </tr>
  <tr *ngFor="let friend of friends | orderBy: order:reverse:'case-insensitive':customComparator">
    <!-- <td>{{friend.id}}</td> -->
    <td>{{friend.name}}</td>
    <td class ="{{friend.status}}">{{friend.status}}</td>
    <td><button>Message</button></td>
  </tr>
</table>
<div class="chatbox" *ngIf="visible">
  <app-chatbox></app-chatbox>
</div>
