<div class="container-full">

  <div id ="main">
    <div id="navbar" class="shadow">
      <app-navigationbar></app-navigationbar>
    </div>
    
    <div class="shadow" id="gamebar">
      <app-gamebar></app-gamebar>
    </div>
    <div id = "body" class="shadow">
        <div class="row">
            <div class="col-sm-12 col-md-12">        
              <!-- the router will place the routed components just after the router-outlet -->
              <router-outlet></router-outlet>
        
            </div><!-- col-sm-6 -->
          </div><!-- row -->
    </div>
    <div id="friendlist" class="shadow">
      <app-friendlist></app-friendlist>
    </div>
  </div>

</div><!-- container -->
