#logo {
    background-image: url("/assets/logo.png");
    display: inline-block;
    width: 150px;
    height: 50px;
    transform: scale(1);
}

.link {
  color: #1e76bd;
  cursor: pointer;
}

.link:hover {
  color: #184e6f;
  cursor: pointer;
  text-decoration: underline;
}
