table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding-left: 5px;
}

tbody {
  overflow-y: auto;
  overflow-x: hidden;
  height: 410px;
  display: inline-block;
  width: 100%;
  height: calc(100vh - 176px);
  overflow-y: scroll;
  padding-left: 5px;
}

tbody td {
  width: 50%;
  padding-top: 5px;
}

.left {
  width: 100%;
  float: left;
}

.left label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* height: 75px; */
}

.left select{
  float: right;
  margin-right: 40px;
  font-size: 18px;
  border:0px;
  outline:0px;
  background-color: #e9ecef;
  /* height: 75px; */
}

.left select option {
  font-size: 15px;
}

.right {
  width: 50%;
  float: right;
  height: 65px;
}

#overflow{
  overflow-y: scroll;
  position: relative;
  /* height: 540px; */
}
.active {
  color: #000;
}

.Online {
  color: green;
}

.Offline {
  color: grey;
}

.Busy {
  color: red;
}

.Away {
  color: blue;
}

.chatbox {
  bottom: 0;
  position: absolute;
  height: 300px;
  width: 250px;
  border-top: 2px solid black;
}

@media only screen and (max-width: 600px) {
  table{
    width: 100%;
  }
}

.false:focus {
  outline:0;
}

.true:focus {
  outline:0;
}

#tab0 {
  width: 23%;
  margin-right: 2%;
}
#tab1 {
  width: 30%;
  margin-right: 2%;
}
#tab2 {
  width: 43%;
}

.false {
  border-radius: 5px 5px 0px 0px;
  background: #bfbfbf;
}

.true {
  border-radius: 5px 5px 0px 0px;
  background:  #d9d9d9;
}

#searchInput {
  width: 220px;
  height: 30px;
  padding: 0px;
  padding-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
  font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  border-radius: 5px;
}

#searchButton {
  height: 30px;
  width: 65px;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}

#playerList {
  height: calc(100vh - 216px);
}


.visibleMobile {
  display: none;
}

.visibleNotMobile {
  display: unset;
}

@media only screen and (max-width: 600px) {
  .visibleMobile {
    display: unset;
  }
  .visibleNotMobile {
    display: none;
  }
}

a:link{
  /* text-decoration: none; */
}
a{
  color: black
}

