<div class="left">
  <h2>{{currentUser}}</h2>
  <!-- <select>
    <option >Online</option>
    <option >Busy</option>
    <option >Away</option>
    <option >Offline</option>
  </select> -->
</div>

<div *ngIf="visible">
  <button (click)="activateTab(ActiveTab.GENERAL_CHAT)" id="tab0" class="{{!friendlist}}">Friendlist</button>
  <button (click)="activateTab(ActiveTab.SEARCH)" id="tab1" class="{{!friendlist}}">Friendlist</button>
  <button (click)="activateTab(ActiveTab.FRIEND_LIST)" id="tab2" class="{{!friendlist}}">Search new Friends</button>

  <div *ngIf="activeTab == ActiveTab.GENERAL_CHAT">
    <div class="generalChatbox">
      <app-generalchat></app-generalchat>
    </div>
  </div>
  <div *ngIf="activeTab == ActiveTab.FRIEND_LIST">
    <table>
      <thead>
        <tr>
          <th (click)="setOrder('name')">Friend</th>
          <th (click)="setOrder('status')">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friend of friends | orderBy: order:reverse:'case-insensitive':customComparator">
          <td>{{friend.name}}</td>
          <td class="{{friend.status}}">{{friend.status}}</td>
          <td><button (click)="messageFriend(friend)" class="btn btn-dark">Message</button></td>
        </tr>
      </tbody>

    </table>
  </div>
  <div *ngIf="activeTab == ActiveTab.SEARCH">
    <input id="chatInput" type="text" placeholder="Search.." class="icon-addon addon-sm">
    <table>
      <thead>
        <tr>
          <th>Players</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.name}}</td>
          <td class="{{player.status}}">{{player.status}}</td>
          <td><button class="btn btn-dark">Add friend</button></td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="chatbox" *ngIf="chatFriend !== undefined">
    <app-chatbox (messageEvent)="closeChat()" [friend]="chatFriend"></app-chatbox>
  </div>
</div>