<div *ngIf="visible">
  <button
    (click)="activateTab(ActiveTab.GENERAL_CHAT)"
    id="tab0"
    class="{{ !friendlist }}"
  >
    Chat
  </button>
  <button
    (click)="activateTab(ActiveTab.FRIEND_LIST)"
    id="tab1"
    class="{{ !friendlist }}"
  >
    Friendlist
  </button>
  <button
    (click)="activateTab(ActiveTab.SEARCH)"
    id="tab2"
    class="{{ !friendlist }}"
  >
    Search Friends
  </button>

  <div *ngIf="activeTab == ActiveTab.GENERAL_CHAT">
    <div class="generalChatbox">
      <app-generalchat></app-generalchat>
    </div>
  </div>
  <div *ngIf="activeTab == ActiveTab.FRIEND_LIST">
    <table>
      <thead>
        <tr>
          <th (click)="setOrder('name')" style="width: 115px">Friend</th>
          <th (click)="setOrder('status')">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let friend of friends
              | orderBy: order:reverse:'case-insensitive':customComparator
          "
        >
          <td>{{ friend.name }}</td>
          <td class="{{ friend.status }}" style="width: 30%">
            {{ friend.status }}
          </td>
          <td><button class="btn btn-dark">Message</button></td>
          <!--(click)="messageFriend(friend)"-->
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="activeTab == ActiveTab.SEARCH">
    <input
      id="searchInput"
      type="text"
      placeholder="Search.."
      class="icon-addon addon-sm"
      (input)="searchUser($event.target.value)"
    />
    <table>
      <thead>
        <tr>
          <th style="width: 93px">Players</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="playerList">
        <tr *ngFor="let player of displayPlayers">
          <td>{{ player.name }}</td>
          <td class="{{ player.status }}">{{ player.status }}</td>
          <td><button class="btn btn-dark">Add friend</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="chatbox" *ngIf="chatFriend !== undefined">
    <app-chatbox
      (messageEvent)="closeChat()"
      [friend]="chatFriend"
    ></app-chatbox>
  </div>
</div>
