<div class="container-full">

  <div id ="main">
    <div id="gamebar">
      <app-gamebar></app-gamebar>
    </div>
    <div id = "body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
        
              <nav class="navbar">
                <div class="container-fluid">
                  <!-- <div class="navbar-header">
                    <h1 class="navbar-brand">Game Lobby</h1>
                  </div> -->
                  <!-- HIERONDER DE CHILD-ROUTES DIE GEBRUIKT WORDEN IN DE SECRET COMPONENT -->
                  <ul class="nav navbar-nav nav-pills">
                    <li routerLinkActive="active">
                      <a routerLink="lobby">Lobby</a></li>
                    <li routerLinkActive="active">
                      <a routerLink="highscores">Highscores</a></li>
                    <li>
                      <a href="#" (click)="logout()">Logout</a></li>
                  </ul>
                </div>
              </nav>
        
              <!-- the router will place the routed components just after the router-outlet -->
              <router-outlet></router-outlet>
        
            </div><!-- col-sm-6 -->
          </div><!-- row -->
    </div>
    <div id="friendlist">
      <app-friendlist></app-friendlist>
    </div>
  </div>

</div><!-- container -->
