#friendlist {
    width: 250px;
    float: right;
    min-height: calc(100vh);

    /* border-left: 2px solid black; */
}

#body {
    width: calc(100% - 250px);
    float: left;
    margin-bottom: 2rem;
    border-radius: .3rem;
    padding: 4rem 2rem;

}

#main {
    min-height: calc(100vh);
    background-color: #e9ecef;

} 

.container-full {
    margin: 0 auto;
    width: 80%;
  }