<div id="logo"></div>
<div id="navigation">
  <nav>
    <div class="container-fluid">

      <ul  id="nav">
        <li routerLinkActive="active" >
          <a routerLink="lobby"  (click)="toggleClass(1)">Lobby</a></li>
        <li routerLinkActive="active">
          <a routerLink="highscores"  (click)="toggleClass(2)">Highscores</a></li>
      </ul>
      <div id="profile">
        <div class="dropdown">
          <button class="dropbtn">{{currentUser}}</button>
          <div class="dropdown-content">
            <a href="#">Edit profile</a>
            <a href="#" (click)="logout()">Logout</a>
          </div>
        </div>
        <!-- <h2>{{currentUser}}</h2> -->
      </div>
    </div>
    
  </nav>
</div>
