<div id="logo"></div>
<div id="navigation">
  <nav>
    <div class="container-fluid">

      <ul  id="nav">
        <li routerLinkActive="active" class={{navbarItem1}}>
          <a routerLink="lobby"  (click)="toggleClass(1)">Lobby</a></li>
        <li routerLinkActive="active" class={{navbarItem2}}>
          <a routerLink="highscores"  (click)="toggleClass(2)">Highscores</a></li>
        <li class="unactive">
          <a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
