#logo {
    /* background-image: url("/assets/logo.png"); */
    width: 150px;
    height: 50px;
    transform: scale(1);
    /* padding-left: 20px; */
    margin-top: 15px;
    width: 150px;
    float: left;
}

#navigation {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#nav {
    color: black;
    padding-left: 15rem;
}

#nav li {
  color: black;
  float: left;
  list-style: none;
  text-align: center;
  width: 85px;
  margin: 3px;
  line-height: 50px;
  border-radius: 5px;
}

#nav li a {
    text-decoration: none;
    color: black;
    display: block;

}


.active {
    border-radius: 5px;
    background-color: #499296  
}

.unactive {
    border-radius: 5px;
    background-color: #60aeb2  ;
}