<h2>{{getTitle()}}</h2>
<div *ngIf="selectedGame">
  <p *ngIf="selectedGame">{{selectedGameDescription}}</p>
  <p (click)="toggleRules()" class="link">{{rulesOpened ? 'hide rules' : 'show rules'}}</p>
  <p *ngIf="rulesOpened">{{selectedGameRules}}</p>
</div>
<table class="table">
  <tr>
    <th class="thead-dark" width="200px">Game</th>
    <th class="thead-light" width="200px">Name</th>
    <th class="thead-light" width="200px">Players</th>
    <th class="thead" width="200px">
      <button (click)="joinRandom()" class="smallButton btn btn-default" >Join random</button>
      <button class="smallButton btn btn-default"  *ngIf="selectedGame && !inGameAlready" (click)="newGame()">New game</button>
      <button class="smallButton btn btn-default" *ngIf="selectedGame && inGameAlready" (click)="backToGame()">Back to game</button>
    </th>
  </tr>
  <tr *ngFor="let game of finalList">
    <td>{{game.gameType}}</td>
    <td>{{game.name}}</td>
    <td>{{game.players}}</td>
    <td><button class="smallButton" (click)="joinGame(game)">Join</button></td>
  </tr>
</table>
