<h2>{{getTitle()}}</h2>
<div *ngIf="selectedGame">
  <p *ngIf="selectedGame">{{selectedGameDescription}}</p>
  <p (click)="toggleRules()" class="link">{{rulesOpened ? 'hide rules' : 'show rules'}}</p>
  <p *ngIf="rulesOpened">{{selectedGameRules}}</p>

  <p *ngIf="!inGameAlready">
    Name: <input id="gamename" value="My game">&nbsp;&nbsp;&nbsp;&nbsp;Players: <select id="playercount">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="smallButton btn btn-default" (click)="newGame()">New game</button>
  </p>
  <p *ngIf="inGameAlready">
    <button class="smallButton btn btn-default" (click)="backToGame()">Back to game</button>
  </p>
</div>
<table class="table">
  <tr>
    <th class="thead-dark" width="200px">Game</th>
    <th class="thead-light" width="200px">Name</th>
    <th class="thead-light" width="200px">Players</th>
    <th class="thead" width="200px">
      <button (click)="joinRandom()" class="smallButton btn btn-default" [attr.disabled]="inGameAlready ? true : null">Join random</button>
    </th>
  </tr>
  <tr *ngFor="let game of finalList">
    <td>{{game.gameType}}</td>
    <td>{{game.name}}</td>
    <td>{{game.joined}} / {{game.players}}</td>
    <td><button class="smallButton btn btn-default" (click)="joinGame(game)" [attr.disabled]="inGameAlready ? true : null">Join</button></td>
  </tr>
</table>
