button {
  height: 25px;
  min-width: 65px;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0;
}

td {
  vertical-align: middle;
}

.link {
  color: #1e76bd;
  cursor: pointer;
}

.link:hover {
  color: #184e6f;
  cursor: pointer;
  text-decoration: underline;
}
.smallButton{
  width: 90px;
  height: 50px;
}
